<!DOCTYPE html>
<html>
<head>
	<title>My HTML Page</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		// Load the Google Charts library
		google.charts.load('current', {'packages':['corechart']});

		// When the page is loaded, create the chart and start updating it
		google.charts.setOnLoadCallback(drawChart);
		setInterval(updateChart, 5000); // Update every 5 seconds

		// Define the chart and its options
		var chart;
		var options = {
			title: 'CPU Usage over Time',
			curveType: 'function',
			legend: { position: 'bottom' }
		};

		function drawChart() {
			// Create an empty DataTable for the chart
			var dataTable = new google.visualization.DataTable();
			dataTable.addColumn('number', 'Measurement');
			dataTable.addColumn('number', 'CPU Usage');

			// Draw the chart
			chart = new google.visualization.LineChart(document.getElementById('chart_div'));
			chart.draw(dataTable, options);
		}

		function updateChart() {
			// Fetch the data from the server using AJAX
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var result = JSON.parse(this.responseText).result;

					// Add the new data to the DataTable
					var dataTable = chart.getData
