<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Google Charts with Flask</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		var chart;
		var dataTable;

		function drawChart() {
			dataTable = new google.visualization.DataTable();
			dataTable.addColumn('number', 'Measurement');
			dataTable.addColumn('number', 'Temperature');

			chart = new google.visualization.LineChart(document.getElementById('chart_div'));

			var options = {
				title: 'Temperature measurements',
				hAxis: {
					title: 'Measurement'
				},
				vAxis: {
					title: 'Temperature (Celsius)'
				},
				legend: {
					position: 'none'
				}
			};

			chart.draw(dataTable, options);

			setInterval(updateChart, 5000);
		}

		function updateChart() {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var result = JSON.parse(this.responseText);
					dataTable.addRow([dataTable.getNumberOfRows()+1, result[result.length-1][2]]);

					chart.draw(dataTable, options);
				}
			};
			xhttp.open("GET", "/data", true);
			xhttp.send();
		}
	</script>
</head>
<body>
	<div id="chart_div"></div>
</body>
</html>
